@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  --primary-colour: #f6f6f8;
  --secondary-colour: #e3e3e3;
  --accent-colour: #c60021; }

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-colour); }

li {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  height: 64px;
  background-color: var(--secondary-colour);
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .header nav {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header nav .nav-logo {
      font-size: 1.5rem;
      color: black; }
      .header nav .nav-logo:hover {
        cursor: pointer;
        color: var(--accent-colour); }
    .header nav ul {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .header nav ul #assign-stock {
        color: var(--accent-colour); }
      .header nav ul li {
        margin-right: 10px; }
        .header nav ul li:hover {
          cursor: pointer;
          color: var(--accent-colour); }

.generate-report {
  display: none; }

.assign-stock {
  height: calc(100vh - 64px); }

.section-title {
  text-align: center;
  margin: 10px 0; }

.container {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  max-width: 1500px; }

.table {
  width: 100%;
  border: 1px solid black; }
  .table .table-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    width: 100%;
    background: black;
    padding: 36px 18px; }
    .table .table-header .header-item {
      text-transform: uppercase; }
      .table .table-header .header-item .header-text {
        color: white; }

.table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  width: 100%;
  padding: 36px 18px; }

.assign-equipment-btn,
.view-assign-equipment-btn {
  padding: 20px;
  margin-top: -20px;
  margin-right: 10px;
  color: white;
  border-radius: 10px; }

.assign-equipment-btn {
  background: #007bff; }
  .assign-equipment-btn:hover {
    cursor: pointer;
    background: #0c5db4; }

.view-assign-equipment-btn {
  background: #28a745; }
  .view-assign-equipment-btn:hover {
    cursor: pointer;
    background: #29883f; }

.assign-equipment-popup,
.view-assign-equipment-popup {
  display: none;
  position: fixed;
  border: 3px solid #f1f1f1;
  z-index: 9; }

.assign-equipment-popup {
  bottom: 40%;
  right: 30%; }

.view-assign-equipment-popup {
  bottom: 47%;
  right: 28%;
  min-width: 45vw; }

.form-container,
.popup-wrapper {
  padding: 20px;
  background-color: white; }
  .form-container h1,
  .popup-wrapper h1 {
    text-align: center; }

.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1; }

.form-container input[type="number"]:focus,
.form-container select:focus {
  background-color: #ddd;
  outline: none; }

.form-container select:focus {
  cursor: pointer; }

.form-container button[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8; }

.close {
  display: inline-block;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  right: 10px; }
  .close:hover {
    transform: scale(1.3);
    cursor: pointer; }

.error {
  display: none;
  color: red;
  background-color: white;
  width: 100%;
  padding: 15px; }

.popup-header,
.popup-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px 0; }

.popup-header {
  margin-top: 15px;
  font-weight: bold; }

.popup-body {
  margin: 15px auto; }

.report-wrapper,
.report-type-form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.report-type-form select {
  margin-top: 15px;
  padding: 15px;
  border: none;
  background: #dbd6d6; }

#report-section {
  width: 80vw;
  height: 50vh;
  margin-top: 20px; }

.equipment-report-table-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background: black;
  padding: 36px 18px; }
  .equipment-report-table-header .header-item {
    text-transform: uppercase; }
    .equipment-report-table-header .header-item .header-text {
      color: white; }

.equipment-table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  padding: 36px 18px; }

@media screen and (max-width: 1478px) {
  .assign-actions button {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; }
  .assign-equipment-btn,
  .view-assign-equipment-btn {
    padding: 10px;
    margin: 10px;
    font-size: 0.8rem; } }

@media screen and (max-width: 1400px) {
  .assign-equipment-popup {
    bottom: 23%;
    right: 18%; }
  .view-assign-equipment-popup {
    bottom: 35%;
    right: 16%; } }

@media screen and (max-width: 1200px) {
  .assign-equipment-popup {
    width: 60%; } }

@media screen and (max-width: 1000px) {
  .form-container h1 {
    font-size: 1.2rem; } }

@media screen and (max-width: 900px) {
  .view-assign-equipment-popup {
    bottom: 35%;
    right: 12%; } }

@media screen and (max-width: 700px) {
  .header nav {
    flex-direction: column; } }
